<h1 class="mb-3 mt-5">Welcome to the Finance Tracker</h1>
<p class="lead">Finance Tracker - The most comprehensive stock app in the world. Brings you free streaming live quotes, pre-market/after-hour quotes, portfolio monitoring, advanced full screen chart, push notification based alert, economic news, event/earnings calendar, market signal scans and a lot more.</p>
<p class="lead">Its a perfect way to track stocks worldwide. This app offers live quotes and charts for more than 100,000 different stocks on more than 70 different global exchanges.</p>
<p class="lead">Learn more today. Track every stock move from purchase to warehouse bin to sales order. </p>
<h3 class="lead">Advantages:</h3>
<p class="lead">Instant Access<br>
Easy to Use<br>
Free<br>
Integrated Software<br>
Services: Integrated Business Apps, Customizable.</p>
